@import "variables.scss";

body {
  margin: 0;
  margin: auto;
}

main, header, .footer__container {
  max-width: 1444px;
  margin: auto;
}

body * {
  font-family : "Poppins";
  font-weight : 500;
  font-style: normal;
}

article {
  padding: 1rem;
}

.container {
  padding : 0;
}

@media(min-width : $min-width) {
  .container {
    padding-left : 1.5rem;
  }
}