body {
  margin: 0;
  max-width: 1444px;
  margin: auto;
}

body * {
  font-family : "Poppins";
  font-weight : 500;
  font-style: normal;
}

article {
  padding: 1rem;
}

.container {
  padding-left: 5%;
}