@import "variables.scss";
@import "mixins.scss";

.footer {
  background-color: #100E1D;
  color: #ffffff;
  padding-top: 5rem;
  padding-bottom: 10rem;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

.footer li {
  list-style: none;
  .navigation__anchor {
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
  }
  padding-block: .5rem;
}

.footer__navigation > ul {
  padding: 0;
}

.footer__media {
  padding-top: 5rem;
}

.media__lists {
  @include flex-row;
  padding: 0;
  justify-content: initial;
  span {
    display: none;
  }

  .media__anchor {
    display: block;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
  }

  .twitter {
    background-image: img("twitter.svg");
  }

  .instagram {
    background-image: img("instagram.svg");
  }

  .linkedin {
    background-image: img("linkedin.svg");
  }
}

.footer__name {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9;
}

@media (min-width : $min-width) {
  .footer__container {
    @include flex-row;
    align-items: baseline;
  }

  .footer .purpose__contact {
    min-width: 350px;
  }

  .footer__media {
    padding-top: 0;
  }
}