.masthead__container {
  padding-left: 15%;
}

.masthead__heading {
  max-width: 450px;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #333333;
  margin-block: 0;
  padding-block-end: 1.4rem;
}

.masthead__info {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2D9CDB;
}